<h1>Welcome <%= session['user'].first_name.classify %></h1>

<form method="get" action="/logout" style="float: right;">
  <input type="submit" value="Log Out">
</form>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%=track.id %>"><%= track.title %></a> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.url %>
    </p>
  </div>
<% end %>

<a href="/tracks/new">Post a song... It's FREE (for now)!</a>